.profile-container {
  border-radius: 20px;

  .profile-header {
    min-height: 375px;
    background-image: url(../../assets/images/profile/background-profile.png);
    border-radius: 20px 20px 0 0;
  
    .wrapper {
      background: linear-gradient(0deg, #000000 -94.8%, rgba(0, 0, 0, 0) 122%);
      border-radius: 20px 20px 0 0;

      div {
        .profile-img {
          max-width: 180px;
        }
        
        button {
          background: transparent;
          border: none;
          outline: none;
          height: fit-content;
          cursor: pointer;

          .edit-icon {
            margin: 0;
          }
        }
      }
    }
  }

  .menu-profile {
    background: transparent;
    border: none;
    border-bottom: 1px solid $grey;
    outline: none;
    cursor: pointer;
  }
}