.sidebar {
  border-radius: 20px;
}
.nav-link {
  background: transparent;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  padding: 20px 35px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $white;

  &:hover {
    background: $white;
    border-radius: 20px;
    color: $black;

    .notif-img,
    .icon {
      filter: invert(100%);
    }
  }

  &--active {
    color: $black;
    background-color: $white;
  }
}

.icon {
  width: 30px;
  height: 30px;
}
